
  ul.list-unstyled {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Khoảng cách giữa các mục */
  }
  
  ul.list-unstyled li {
    display: flex;
    align-items: center;
  }
  
  ul.list-unstyled li i {
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và nickname */
  }